<!DOCTYPE html>
<html>

<head>
    <title>Title of the document</title>
</head>

<body>
    <h1>Pdf Priview</h1>

    <form action="/sendEmail" method="POST">
        <input type="email" name="email">
        <input type="submit" value="sendEmail">
    </form>

    <iframe src="/pdfs" width="100%"
        height="700px">
    </iframe>
</body>

</html>